svg.radial-progress {
  height: auto;
  max-width: 300px;
  padding: 1em;
  transform: rotate(-90deg);
  width: 100%;

}

svg.radial-progress circle {
  fill: rgba(0,0,0,0);
  stroke: #fff;
  stroke-dashoffset: 219.91148575129;
  stroke-width: 10;
}

svg.radial-progress circle.incomplete { opacity: 0.25; }
 

svg.radial-progress circle.complete { stroke-dasharray: 219.91148575129;}

svg.radial-progress text {
  fill: #000000;
  font: 400 1em/1 'Oswald', sans-serif;
  text-anchor: middle;
}

svg.radial-progress:nth-of-type(6n+1) circle { stroke:   #5fa9da; }


.buyer_total td{
    font-weight: 700;
    padding-top: 6px;
}
